* {
    font-family: "ProFont IIx Nerd Font Bold";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 40, 40, 0.85);
    border-bottom: 2px solid #b8bb26;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: 0.3s;
    border-radius: 12px;
}

tooltip {
    background: #282828;
    border: 2px solid #b8bb26;
    border-radius: 12px;
}

tooltip label {
    font-family: "ProFont IIx Nerd Font Mono Bold";
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
    border-bottom: 2px solid transparent;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces button.active {
    color: #b8bb26;
    border-bottom: 2px solid #b8bb26;
}

#workspaces button.urgent {
    background-color: #fb4934;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#window {
    padding: 0 10px;
    margin: 4px 0;
    border-radius: 8px;
    background-color: #3c3836;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#cpu.high {
    color: #fabd2f;
}

#cpu.critical {
    color: #fb4934;
}

#memory.high {
    color: #fabd2f;
}

#memory.critical {
    color: #fb4934;
}

#pulseaudio.muted {
    background-color: #fb4934;
    color: #282828;
}

#network.disconnected {
    background-color: #fb4934;
    color: #282828;
}
